<li><a href="@Url.Action("index", new { controller = "sample", area = "HTML5HistoryAPI" })">City Home</a></li>

<ul id="citylinks">
    <li><a href="@Url.Action("city", new { controller = "sample", area = "HTML5HistoryAPI", q = "Izmir" })">Izmir</a></li>
    <li><a href="@Url.Action("city", new { controller = "sample", area = "HTML5HistoryAPI", q = "Istanbul" })">Istanbul</a></li>
    <li><a href="@Url.Action("city", new { controller = "sample", area = "HTML5HistoryAPI", q = "Mugla" })">Mugla</a></li>
</ul>