@{
    ViewBag.Title = "About - MvcMiracleWorker by @tourismgeek";
}

<h2>About MvcMiracleWorker</h2>

<p>
    <strong>MvcMiracleWorker</strong> is an ASP.NET MVC project which I have created in order to host my simple ASP.NET MVC samples.
</p>

<p>
    Puting every single sample code of my try-outs up on GitHub was hassle but enjoyable. At the same time, a waste of space. I was creating necessary files over and over again. So, <strong>MvcMiracleWorker</strong> comes in handy here for me. On the @Html.ActionLink("Home Page", "Index", new { controller = "Home", Area = string.Empty }) of this application, you will have a list of samples which the project contains.
</p>

<p>
    Enjoy!
</p>